html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    flex-grow: 1;
}

#lastUpdate {
    margin-top: 10px;
}

#disconnect{
    margin-bottom: 20px;
}
